* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #f1f5f9;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.max-width-634 {
    max-width: 634px !important;
}

.invalid .form-error {
    color: red;
    font-size: 0.75em;
    margin-top: -16px;
}

.form-group.invalid .modal-input {
    border-color: red;
}

#header {
    display: flex;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0px;
    padding: 0 60px;
    left: 0;
    height: 60px;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

#header .logo {
    float: left;
    height: 60px;
    line-height: 60px;
    /* width: 25%; */
}

/* #header .logo img {
    height: 60px;
    width: 90%; 
} */

#nav {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: end;
    float: right;
}

#nav li {
    cursor: pointer;
    height: 60px;
}

#nav > li {
    position: relative;
    display: inline-block;
    padding:0 16px;
}

#nav a {
    line-height: 60px;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    font-size: 0.875em;
}

#nav .subnav1 {
    width: 400px;
}

#nav .subnav2 {
    min-width: 80px;
}

#nav .subnav {
    position: absolute;
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #fff;
    min-width: 20px;
    margin-left: -20px;
}

#nav .subnav li {
    padding: 0 20px;
    height: 48px;
}

#nav .subnav a{
    color: #000;
    line-height: 48px;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    /* color: #1c86ef; */
    color: #ff5ba7;
    transition: .3s;
}

#nav li:hover .subnav {
    display: block;
}

#nav .nav-btn {
    align-self: center;
    padding: 12px 16px;
    border-radius: 24px;
    border: none;
    color: #fff;
    background-color: #1dc69f;
    font-size: 0.625em;
    font-weight: 700;
    transition: .3s;
    text-transform: uppercase;
}
#nav .nav-btn:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: .3s;
}

#nav .right-arrow {
    font-size: 0.5em;
    font-weight: 900;
    padding-left: 4px;
}

#slider {
    position: relative;
    padding-top: 100vh;
    /* margin-top: 70px; */
    background: url('../img/baiviet-bg.jpg') top center / cover no-repeat;
}

#slider .slider-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
    color: #fff;
}

#slider .slider-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    /* margin-top: 60px; */
}

.slider-title {
    font-size: 2em;
    margin-bottom: 30px;
}

.slider-title i {
    color: #ff5ba7;
    font-size: 1em;
    padding-right: 10px;
}

.slider-smart-popup {
    font-size: 10vw;
    font-weight: 900;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transform: translateX(-0.25em);
}

.slider-smart-popup .word {
    position: relative;
    margin: -30px 3.25vw;
}

.slider-smart-popup span {
    letter-spacing: -0.5em;
    text-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.slider-smart-popup span:hover {
    cursor:default;
    transition: .7s;
    text-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.slider-description {
    font-size: 3.4em;
    font-weight: 900;
    letter-spacing: -0.08em;
    margin-top: 20px;
}

.slider-sub-description {
    margin: 20px 0;
}

.slider-sub-description p{
    width: 62.5vw;
    font-size: 1.4em;
    right: 0;
    text-align: center;
}

.slider-link {
    padding-top: 30px;
}

.slider-link a {
    color: #ff5ba7;
    transition: .5s;
    font-size: 1.25em;
}

.slider-link i {
    font-size: 0.85em;
    padding-left: 8px;
}

.slider-link a:hover {
    opacity: .8;
    font-size: 1.28em;
}

#content {
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;
    margin-top: 48px;
    max-width: 1100px;
}

#content .content-title {
    display: flex;
    flex-direction: column;
}

#content .news {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    color: #ff5ba7;
    font-weight: 700;
}

#content img {
    width: 100%;
}

#content .news img:hover {
    opacity: 0.7;
}

.news-title h1{
    font-size: 3.75em;
    letter-spacing: -2.5px;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    margin: 8px 0;
    max-width: 800px;
}

.news-title p {
    font-size: .75em;
    color: #9b9b9b;
    margin: 16px 0 12px;
}

.news-social {
    display: flex;
    justify-content:left;
    margin: 60px 0 16px;
}

.news-social i {
    height: 3.25em;
    width: 3.5em;
    font-size: 1.125em;
    line-height: 3.25em;
    text-align: center;
    border-left: 1px solid #9b9b9b;
    color: #000;
    transition: .3s;
}

.news-social::after {
    content: "";
    border-right: 1px solid #9b9b9b;
}

.news-social i:hover {
    color: #ff5ba7;
    transition: .3s;
}

.img-title {
    overflow: hidden;
    margin: 0 -24px;
}

.img-title img {
    width: 100%;
    height: 100%;
    transition: .8s;
    cursor: pointer;
}

.img-title img:hover {
    transform: scale(1.05);
    opacity: .7;
}

.news-description {
    padding-bottom: 24px;
    width: 634px;
    margin-top: 48px;
    margin-bottom: 24px;
    color: rgba(0,0,0,0.8);
    font-style: italic;
    border-bottom: 1px solid #e2e2e2;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.news-description a {
    color: #000;
    text-decoration: underline;
}

.news-description a:hover {
    color: rgba(0,0,0,0.5);
}

.news-content {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    letter-spacing: -1px;
}

.news-main {
    width: 68%;
    margin-right: 166px;
}

.news-content .paragraph .food-list {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25em;
    font-weight: 900;
    letter-spacing: -2px;
    margin-top: 20px;
}

.news-content .paragraph .food-list-location {
    font-style: italic;
    font-family: Helvetica, sans-serif;
}

.news-content .paragraph .food-list-location a {
    color: rgba(0,0,0,0.7);
}

.news-content .paragraph .food-img {
    border-bottom: 1px solid #e2e2e2;
}

.news-content .paragraph .food-img .caption {
    color: #000;
    font-size: 0.75em;
    margin: 16px 0 8px;
}

.news-content .paragraph .food-img .cre {
    font-size: 0.75em;
    margin: 8px 0 16px;
}

.news-content .paragraph .food-list-location {
    font-style: italic;
    font-size: 0.875em;
}

.news-content .paragraph .food-list-location p{
    color: rgba(0,0,0,0.5);
}

.news-content .paragraph .food-list-location a{
    color: rgba(0,0,0,0.5);
}

.news-content .paragraph p {
    font-weight: 100;
    margin: 16px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.7);
    letter-spacing: 0.2px;
}

.news-content .paragraph p span {
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

.news-content .paragraph a {
    text-decoration: underline;
    color: #000;
}

.news-content .paragraph a:hover {
    color: #9b9b9b;
}

.news-note {
    display: flex;
    padding: 16px 0;
    margin: 28px 0;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.news-note .note-title {
    font-family: 'Courier New', Courier, monospace;
    padding-right: 48px;
    border-right: 1px solid #e2e2e2;
    font-size: 1em;
}

.news-note .note-content {
    margin-left: 24px;
    font-weight: 100;
}

.news-cre-photo {
    padding: 24px 0;
    margin-top: 24px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 100;
}

.news-poster {
    /* background-color: #000; */
    width: 32%;
    /* background-color: #32335a; */
}

.news-poster a {
    color: #fff;
    font-size: 1.125em;
}

.poster {
    padding: 20px 20px;
    background-color: #32335a;
}

.poster > p {
    color: #fff;
    padding-bottom: 20px;
    font-size: 1.125em;
}

.poster-post {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
    font-weight: 100;
}

.poster-post a {
    font-size: 1.25em;
}

.poster-post-two {
    display: flex;
    background-color: #32335a;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
    font-weight: 100;
    font-size: 0.875em;
}

.post-first {
    padding-right: 20px;
    border-right: 1px solid #fff;
}

.post-second {
    padding-left: 20px;
}

.destination {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.destination-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.25em;
    letter-spacing: -2px;
    margin: 24px 0;
}

.destination-section {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    width: calc(100% - 300px - 16px);
    margin-left: -16px;
    margin-top: 16px;
}

.destination-place {
    padding: 0 16px;
    color: #000;
    border-right: 1px solid #e2e2e2;
    border-top: none;
}

.destination-name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.75em;
}

.background-border {
    overflow: hidden;
}

.destination-background {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 133%;
    transition: .8s;
}

.destination-background:hover {
    transform: scale(1.1);
}

.destination-sydney {
    background-image: url('../img/sydney.jpg');
}

.destination-london {
    background-image: url('../img/london.jpg');
}

.destination-qatar {
    background-image: url('../img/qatar.jpg');
}

.destination-tokyo {
    background-image: url('../img/tokyo.jpg');
}

.destination-name {
    margin-top: 16px;
}

.destination-content {
    min-height: 110px;
    height: 120px;
    margin-top: 8px;
    font-size: 0.75em;
}

.destination-explore {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25em;
    letter-spacing: -0.4px;
    margin-top: 16px;
    padding-bottom: 8px;
    border-bottom: 2px solid #000;
    transition: .3s;
}

.destination-explore:hover {
    color: #ff5ba7;
    border-bottom: 2px solid #ff5ba7;
}

.destination-btn {
    width: calc(100% - 300px - 16px);
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.destination-btn a{
    border: 1px solid #e2e2e2;
    color: #000;
    width: 300px;
    padding: 16px 0;
    text-align: center;
    box-shadow: inset 0 0 0 0 #000;
    transition: linear .4s;
}

.destination-btn a:hover {
    box-shadow: inset 300px 0 0 0 #000;
    /* transition: ease-in-out .4s; */
    color: #fff;
}

.paid-content {
    display: flex;
    border-top: 1px solid #e2e2e2;
}

.paid-header {
    font-size: 0.875em;
    font-weight: 700;
    padding: 24px 0;
    border-bottom: 1px solid #e2e2e2;
    font-family: Arial, Helvetica, sans-serif;
}

.paid-header > p {
    font-size: 1.25em;
}

.paid-section {
    display: flex;
    margin-top: 24px;
    margin-left: -8px;
    margin-right: -8px;
}

.paid-section a {
    margin: 0 8px;
}

.paid-section h3 {
    color: #000;
    font-weight: 100;
    font-size: 0.975em;
    padding: 8px 0;
}

.paid-section p {
    color: rgba(0,0,0,0.4);
    font-weight: 100;
    font-size: 0.875em;
    font-style: italic;
}

.paid-section h3:hover {
    color: rgba(0,0,0,0.5);
}

#footer {
    margin-top: 40px;
    background-color: #172133;
    color: #fff;
}

#footer .footer-service {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    margin: 0 40px;
    border-bottom: 2px solid #283242;
}

.footer-service .footer-infor {
    width: 20%;
    padding-left: 20px;
}

.footer-service .footer-infor h2 {
    display: flex;
    font-size: 1.5em;
    transform: translateX(-25px);
}

.footer-service .footer-infor h2 i {
    color: #28beff;
    margin-right: 4px;
}

.footer-service p {
    font-size: 14px;
    color: rgba(250,250,250,0.7);
    letter-spacing: 0.4px;
    line-height: 1.6;
}

.footer-service .footer-social {
    padding-top: 20px;
    display: flex;
}

.footer-service .footer-social a {
    font-size: 16px;
    padding-right: 20px;
}

.footer-service .footer-social i {
    transition: .3s;
}

.footer-service .footer-social i:hover{
    transform: scale(2);
}

.footer-service .footer-infor .footer-phone {
    color: #fff;
    padding-top: 20px;
}

.footer-service h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-service li {
    margin-bottom: 8px;
}

.footer-service a {
    color: #fff;
    text-decoration: #fff;
    font-size: 14px;
}

.footer-service li:hover a{
    color: #ccc;
}

.footer-icon {
    margin: 0 40px;
    border-bottom: 2px solid #283242;
}

.footer-icon ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon img {
    margin: 20px 40px;
    width: 100px;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    font-size: 12px;
    color: rgba(250,250,250,0.7);
}

.footer-contact a {
    color: #fff;
    text-decoration: none;
}

.footer-contact .heart-icon {
    color: red;
}

.go-up .go-up-container {
    position: fixed;
    z-index: 999;
    bottom: 30px;
    right: 10px;
}

.go-up a {
    color: #fff;
    padding: 14px 16px;
    background-color: #1dc69f;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.modal.modal-open {
    display: flex;
}

.modal {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
}

.modal-container {
    position: relative;
    max-width: calc(100% - 32px);
    width: 900px;
    background: url('../img/bg-dots.png');
    border-radius: 12px;
    overflow: hidden;
    animation: modalFaceIn ease .4s;
}

.modal-close {
    display: flex;
    position: absolute;
    color: #fff;   
    right: 0;
    font-size: 1em;
    font-weight: 700;
    top: 0;
    padding: 16px 16px;
}

.modal-close:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
    padding: 34px;
}

.modal-header p{
    font-size: 1.75em;
    letter-spacing: 4px;
}

.modal-header i {
    font-size: 1.75em;
    padding-right: 12px;
}
.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    padding: 12px 0 12px;
    margin-top: 12px;
}

.modal-label .quantity {
    display: inline;
}

.modal-select select {
    padding: 8px;
    border: 1px solid #ccc;
    color: #7a7a7a;
    width: 100%;
}

.modal-input {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
}

.modal-confirm {
    margin-top: 18px;
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 1em;
}

.modal-confirm:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

@keyframes modalFaceIn{
    from {
       transform: translateY(-150px); 
       opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}