/* PC */
@media(min-width: 64em) {
    
}

/* Tablet */
@media(min-width: 46.25em) and (max-width:63.9375em) {
    
    #nav {
        justify-content: center;
    }
    
    .input-form form {
        margin-top: 100px;
    }

    .footer-icon img {
        width: 9vw;
    }
}

/*Tablet and Mobile*/
@media(max-width:63.9375em) {
    * {
        font-size: 14px;
    }
    #header {
        height: 7.5em;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    #header .header-logo, #nav {
        align-self: center;
    }
    #nav .nav-btn {
        background-color: transparent;
        color: #000;
        font-size: 0.865em;
        text-transform: none;
        border-bottom: 3px solid #1dc69f;
        border-radius: 0px;
    }
    #nav .nav-btn:hover {
        color: #1c86ef;
    }
    #reviewer {
        margin-left: 0;
    }

    #reviewer .logo-section {
        flex-direction: column;
        align-items: center;
    }

    #introduction {
        width: 100%;
        padding: 0;
    }

    #intro-author {
        flex-direction: column;
        margin: 0;
    }

    #intro-author .author{
        width: 100%;
        margin-bottom: 30px;
    }

    #content-description {
        flex-direction: column;
    }
}

/* Mobile */
@media(max-width: 46.1875em) {
    #nav {
        justify-content: space-around;
        padding: 0 12px;
        /* justify-content: center; */
    }

    #nav > li {
        padding: 0 6px;
        font-size: 13px;
    }

    #nav .nav-btn {
        padding: 6px;
    }

    #nav .subnav1 {
        margin-left: -0.1vw;
        width: 93vw;
    }

    #nav .subnav2 {
        margin-left: -47vw;
        width: 92vw;
    }

    #nav .subnav li{
        text-align: center;
    }

    #reviewer {
        margin: 60px 20px;
        padding-left: 0;
    }

    #reviewer .review-infor {
        flex-direction: column;
    }

    #reviewer .review-data {
        width: 100%;
        padding: 24px 0;
    }

    #reviewer .review-data .description {
        margin: 0;
        width: 100%;
    }

    #reviewer .review-data .review-number {
        margin-right: 0;
    }

    .buy-btn {
        width: 100%;
    }

    .buy-btn a{
        padding-left: 28vw;
        padding-right: 28vw;
    }
    
    .buy-btn a:hover {
        padding-left: 30vw;
        padding-right: 30vw;
    }

    #reviewer .review-quantity {
        justify-content: space-between;
    }

    .right-arrow {
        display: none;
    }

    .img-logo {
        width: 30vw;
    }

    #content-description {
        margin: 80px 20px 0;
    }

    .content-form {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    #content .product-form {
        width: 90%;
        margin: 16px 0;
    }

    #content .input-form {
        flex-direction: column;
    }

    #content .input-form .intro-form {
        font-size: 12px;
        width: 100%;
    }

    #content .input-form .text {
        text-align: center;
    }

    #content .input-form form {
        width: calc(100% - 32px);
        /* margin: 0; */
    }

    #footer .footer-service {
        flex-direction: column;
        padding: 40px 0;
    }

    #footer .footer-service li {
        margin-bottom: 12px;
    }

    #footer .footer-service a {
        font-size: 1em;
    }

    #footer .footer-infor {
        width: 100%;
        padding-bottom: 30px;
    }

    #footer .footer-service .infor-description {
        padding-left: 0;
        padding-bottom: 40px;
    }

    #footer .footer-icon ul {
        flex-direction: column;
    }

    #footer .footer-icon img {
        width: 100px;
    }

    #footer .footer-contact {
        flex-direction: column;
        align-items: center;
    }

    #footer .footer-contact p {
        text-align: center;
        margin-bottom: 8px;
    }
}