/* PC */
@media(min-width: 64em) {
    
}

/* Tablet */
@media(min-width: 46.25em) and (max-width:63.9375em) {
    
    #nav {
        justify-content: center;
    }
    .input-form form {
        margin-top: 100px;
    }

    .footer-icon img {
        width: 9vw;
    }
}

/*Tablet and Mobile*/
@media(max-width:63.9375em) {
    * {
        font-size: 14px;
    }
    #header {
        height: 7.5em;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    #header .header-logo, #nav {
        align-self: center;
    }
    #nav .nav-btn {
        background-color: transparent;
        color: #000;
        font-size: 0.865em;
        text-transform: none;
        border-bottom: 3px solid #1dc69f;
        border-radius: 0px;
    }
    #nav .nav-btn:hover {
        color: #1c86ef;
    }
    #reviewer {
        margin-left: 0;
    }

    #reviewer .logo-section {
        flex-direction: column;
        align-items: center;
    }

    #introduction {
        width: 100%;
        padding: 0;
    }

    #intro-author {
        flex-direction: column;
        margin: 0;
    }

    #intro-author .author{
        width: 100%;
        margin-bottom: 30px;
    }

    #content-description {
        flex-direction: column;
    }
}

/* Mobile */
@media(max-width: 46.1875em) {
    #nav {
        justify-content: space-around;
        padding: 0 12px;
        /* justify-content: center; */
    }

    #nav > li {
        padding: 0 6px;
    }

    #nav .nav-btn {
        padding: 6px;
    }

    #nav .subnav1 {
        width: 100vw;
    }

    #nav .subnav li a{
        text-align: center;
    }

    #reviewer {
        margin: 60px 20px;
        padding-left: 0;
    }

    #reviewer .review-infor {
        flex-direction: column;
    }

    #reviewer .review-data {
        width: 100%;
        padding: 24px 0;
    }

    .review-data .description {
        margin: 0;
        width: 100%;
    }

    .review-data .review-number {
        margin-right: 0;
    }

    .buy-btn {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .review-quantity {
        justify-content: space-between;
    }

    .right-arrow {
        display: none;
    }

    .img-logo {
        width: 30vw;
    }

    #content-description {
        margin: 80px 20px 0;
    }

    #content-form {
        flex-direction: column;
        align-items: center;
    }

    .product-form {
        width: 90%;
        margin: 16px 0;
    }

    .intro-form {
        font-size: 12px;
    }

    .footer-icon ul {
        flex-direction: column;
    }

    .footer-icon img {
        width: 100px;
    }
}